<!-- <app-operation></app-operation> -->
<div class="main">
    <div class="main-header">
        <h3 class="title">Операции</h3>
    </div>
    <hr class="hr">
    <div class="main-body">
        @for ( category of myStore?.entries(); track category[0]){
            @if ( category[1].operations.length ) {
                <h6 class="name-category">{{category[0]}}</h6>
                <div>
                    @for ( operation of category[1].operations; track i ; let i = $index ){
                        <div>
                            <app-operation [operation]="operation"></app-operation>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
