<!-- <app-operation></app-operation> -->
<div class="main">
    <div class="main-header">
        <h3 class="title">Операции</h3>
    </div>
    <hr class="hr">
    <div class="main-body">
        @for ( category of myStore?.entries(); track category[0]){
            <h2>{{category[0]}}</h2>
            <br>
            <div>
                @for ( operation of category[1].operations; track i ; let i = $index ){
                    <div>
                        <p> {{operation.date | date}} </p>
                        <p> {{operation.sum}} </p>
                        <p> {{operation.comment}} </p>
                    </div>
                    <br>
<!--                    <ul>-->
<!--                        <li></li>-->
<!--                        <li>{{operation.sum}}</li>-->
<!--                        <li>{{operation.comment}}</li>-->
<!--                    </ul>-->
                }
            </div>
        }
    </div>
</div>
