@import '../main-mixins.component.scss';
:host {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:100%;
}
.main {
    display: flex;
    flex-direction: column;
    @include main-header-styles;
    height: 100%;
}
.main-body {
    height: 100%;
    overflow-y: scroll;
}
.name-category {
    color: rgba(10, 10, 10, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 25px;
}
