<app-adding-category [(isActivePopup)]="isActivePopup" (onAddCategory)="addCategory( $event )"></app-adding-category>
<div class="main">
    <div class="main-header">
        <h3 class="title">Расходы</h3>
        <button class="btn" (click)="isActivePopup = true">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path d="M7 1L7 13" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
                <path d="M1 7L13 7" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
            </svg>
            <span>Добавить категорию</span>
        </button>
    </div>
    <hr class="hr" >
    <div class="main-body custom-scrolling" [ngClass]=" myStore?.size ? 'grid' : 'block' ">
        @for ( category of myStore?.entries(); track category[0]){
            <app-category
                [nameCategory]="category[0]"
                [data] = "category[1]"
            ></app-category>
        } @empty {
            <div class="simple-body">Категорий пока нет!</div>
        }
    </div>
</div>
